{% extends "wiki/wiki_base.html" %}
{% block css %}
    <style>
        body {
            background:url(/static/img/star.jpg);
            background-position: 0 0; /* 元素的左上角 */
            background-repeat: no-repeat; /* 不平铺。图片只展示一次。 */
            background-attachment: fixed;
            background-color: #999;
            background-size: cover;
        }
        #img_index{
            width: 80%;
            margin: 0 auto;
            margin-top: 15px;
            border-radius: 4px;

        }
    </style>
{% endblock %}
{% block content %}
    <div id="img_index">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="alert alert-info">
                    My picture.
                    {% if user.is_authenticated %}
                        <a href="/manage/pic/create_type/" class="btn btn-warning">
                            <span class="glyphicon glyphicon-plus"></span>添加图片册
                        </a>
                    {% endif %}
                </p>

                <div class="contaniner">
                    <div class="row">
                        {% if pics %}
                            {% for obj in pics %}
                                <div class="col-sm-6 col-md-4" id="pictype_{{ obj.id }}">
                                    <div class="thumbnail">
                                        <a href="{{ obj.get_absolute_url }}">
                                            {% if obj.is_show %}
                                                <img class="img-responsive" src="/static/img/pic_lock.jpg" width="200px" height="200px">
                                            {% else %}
                                                <img class="img-responsive" src="{{ obj.img }}" alt="{{ obj.title }}" width="200px" height="150px">
                                            {% endif %}
                                         </a>
                                        <div class="caption">
                                            <h3>{{ obj.title }}</h3>
                                            <p class="text-muted">{{ obj.desc }}</p>
                                            <div class="text-muted">
                                                发布于：{{ obj.add_date|date:"Y/m/d H:i" }}&nbsp;&nbsp;共{{ obj.pic_set.all|length }}张图片
                                            </div>
                                            {% if user.is_authenticated %}
                                            <div class="text-right">
                                                <a href="javascript:;" class="pictype_del" type="{{ obj.id }}"><span class="glyphicon glyphicon-remove"></span></a>
                                                &nbsp;&nbsp;<a href="/manage/pic/create_type/?id={{ obj.id }}"><span class="glyphicon glyphicon-edit"></span></a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <code style="font-size: 20px;">&nbsp;还没有添加任何图片相册!</code>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}