{% extends "base.html" %}
{% block css %}
    <style>
        .form-panel{
            width: 90%;
            margin: 20px 0px 0px 10%;
            padding: 1% 0 0 0;
        }
        #cate_buttons button{
            margin:0 3px 2px 3px;
            cursor: auto;
            border-top-right-radius:0;
            border-bottom-right-radius:0;

        }

        .type_del{
            vertical-align: top;
            display: inline-block;
            font-size: 8px;
            height: 34px;
            margin-left: -7px;
            border-top-left-radius:0;
            border-bottom-left-radius:0;
            cursor: pointer;
        }
        .tag_buttons{
            cursor: auto;
            border-top-right-radius:0;
            border-bottom-right-radius:0;
            margin-bottom: 2px;
        }
        .label_del{
            vertical-align: top;
            display: inline-block;
            font-size: 8px;
            height: 30px;
            margin-left: -4px;
            border-top-left-radius:0;
            border-bottom-left-radius:0;
            cursor: pointer;
        }

    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-tagsinput/bootstrap-tagsinput.css"/>

{% endblock %}

{% block content %}

    <div class="panel panel-default form-panel">
        <div class="panel-body">
            <form class="form-Sinin" action="/manage/add/" method="post" id="addBlog">
                {% csrf_token %}
                <h2 class="form-heading">发布博客</h2>
                <p><b>标题:</b></p>
                {{ form.title }}
                <p style="margin-top: 10px;"><b>类型:</b></p>
                {{ form.cate }}
                <div class="btn-group" id="cate_buttons" style="margin-bottom: 10px">
                    <span>
                        {% for cate in categories %}
                            <button type="button" class="btn btn-primary" id="c_{{ cate.id }}" >
                                {{ cate.name }}
                            </button>
                            <span class="label label-primary label-sm type_del" id="type_{{ cate.id }}">&times;</span>
                        {% endfor %}
                       <input type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addType"  value="添加分类" id="adds" onclick="(function(){
                           //操作初始化
                           $('#sendok').hide();
                           $('#cate_input').show();
                           $('#cate_buttons span button').attr('class','btn btn-primary');//类型button初始化
                       })()">

                    </span>
                </div>
                <p><b>加密:</b></p>
                {{ form.is_show }}
                <div class="panel panel-default" style="margin-top: 20px;">
                    <div class="panel-heading">
                        内容:
                    </div>
                    <div class="panel-body">
                        {{ form.media }}
                        {{ form.content }}
                    </div>
                </div>
                <!--预览-->
                <div class="panel panel-default" id="prew_box">
                    <div class="panel-heading">
                        内容即时预览
                    </div>
                    <div class="panel-body">
                        <div id="prew_c"></div>
                    </div>
                </div>
                <p><b>添加标签:</b></p>
                <input type="hidden" id="mytags" name="mytags"/><!--留着存放载入的标签值-->
                <!--下面是为了给bootstrap-taginput插件使用-->
                <input type="text"   data-role="tagsinput" placeholder="add Tag,Enter" />
                <div class="btn-group" style="margin-top: 10px;">
                    {% if has_tags %}
                        <p id="has_tags" style="display: none">编辑的博文已存在的标签：{% for obj in has_tags %}<span class="label label-primary" onclick="addIt('{{ obj.tag.name }}')">{{ obj.tag.name }}</span>{% endfor %}
                    {% endif %}
                    <p>
                    已存在的标签:
                    {% for tag in tags %}
                        <button id="l_{{ tag.id }}" type="button" class="btn btn-primary btn-sm tag_buttons" onclick="addTags('{{ tag.name }}');">{{ tag.name }}</button>
                        <span class="label label-primary label-sm label_del" id="label_{{ tag.id }}" onclick="delTag({{ tag.id }});">&times;</span>
                    {% endfor %}
                    </p>
                </div>
                <input type="hidden" name="edit_or_creat" value="{{ is_edit }}" />
                <a href="javascript:;" class="btn btn-primary btn-block btn-lg" style="display: block;margin-top: 20px;" id="submit" data-loading-text="正在加载...">发布</a>
            </form>

            <hr style="margin-top: 10%;"/>
            <br/>
        </div>
    </div>
    <!--添加类型的模态框，基于bootstrap实现-->
    <div class="modal fade" id="addType" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">添加类型</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group" id="cate_input">
                            <label for="cate_name" class="control-label">名称:</label>
                            <p class="small" style="color: #c04b4b; font-weight: bold; display: none" id="warn_info">*类型名称必填</p>
                            <input type="text" class="form-control" id="cate_name">
                        </div>
                        <div class="form-group" id="sendok" style="display: none;">
                            <p style="color: rgb(79,181,116); font-weight: bold; " class="info">恭喜，类型添加成功!</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="(function(){
                        $('#warn_info').hide();//关闭模态框是将提示隐藏
                        })()"
                        >Close</button>
                    <button type="button" class="btn btn-primary" onclick="addType()">添加</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<!--下面的js代码是为了实现将wmd编辑的内容预览放在自定义的div中-->
{% block js %}
    <script src="{{ STATIC_URL }}bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script>
{#    var IS_EDIT = location.href.split('=').length;//将url以‘=’分开，如果是编辑状态的话，上面应该会附加'id=xx'，所以为2#}
    var IS_EDIT=$('input[name="edit_or_creat"]').val();
    $(function() {
        $('#prew_c').append($('.wmd-panel:last'));
        $('#id_cate').hide();//将类型输入框隐藏
        if (IS_EDIT) { // 编辑状态
            var text = $('#id_cate').val();//返回类型输入框内的值
            text= $.trim(text);
            var id=searchButtonId(text);
            $('#'+id).addClass('btn btn-success');
            //下面主要是将博客本身已存在的标签名填进bootstrap-tagsinput框中
            $('#has_tags').children('span').each(function () {
                var tag = $(this).text();
                addTags(tag);
            });
        }
        function searchButtonId(text){
            var id=null;
            $('#cate_buttons span button').each(function () {
                if($.trim($(this).text())==text){ //去除button中间存在的空格，否则会不匹配
                    id=$(this).attr('id');
                    return false;
                }

            });
            return id;
        }

    });




    </script>
{% endblock %}