{% extends "wiki/wiki_base.html" %}
{% block css %}
    <style>
        body{
            background: url("{{ STATIC_URL }}img/bg1.jpg") no-repeat 0 0 ;
            background-size: cover;
            background-attachment: fixed;
            overflow-x: hidden;
        }

        #wiki_index{
{#            border: 1px solid red;#}
            margin-left: 8%;

        }
        .wiki_row{
            float: left;
            margin-right: 22px;
            border: 1px solid #ccc;
            border-radius: 2px;
            margin-bottom: 15px;
            margin-top: 30px;
        }
        #wiki_img{
            width: 284px;
            height: 300px;
            background-size: cover;
            text-align: center;
            line-height: 300px;
            font-size: 20px;
            font-weight:bold;
            color: #333;
            text-decoration: none;
        }

    </style>
{% endblock %}

{% block content %}

    <div class="col-md-10" id="wiki_index">
        {% if names %}
            {% for obj in names %}
                <div class="row wiki_row" id="wikiName_{{ obj.id }}">
                    <a  href="{{ obj.get_absolute_url }}"style="text-decoration: none;">
                     <div id="wiki_img" style="background-image:url({{ obj.img }});">
                            <span style="color: #333;">{{ obj.name }}</span>
                            {% if user.is_authenticated %}
                                <a href="javascript:;" class="label label-danger" style="font-size: 12px;" onclick="delWikiName({{ obj.id }})">
                                    删除
                                </a>
                                <a href="/manage/addWiki/{{ obj.id }}" class="label label-warning" style="font-size: 12px;">添加</a>
                            {% endif %}
                        </div>

                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger" role="alert" style="margin:50px auto 200px;width: 50%;">还没有建立任何Wiki哦!</div>
        {% endif %}

    </div>
{% endblock %}



