{% extends "wiki/wiki_base.html" %}
{% load markup %}
{% load chapterIndent %} <!--章节标题#号自定义模板过滤器-->
{% block css %}
    <style>
        .lside{
            padding-left: 2%;
{#            border: 1px solid red;;#}
        }
        .rside{
            padding-right: 5%;

        }
        .wiki_list a{
            color: #0088cc;
        }
        .wiki_list a:hover{
            color: rgb(209,72,54);
        }
        .wiki_list li{
            list-style: none;
        }
    </style>
{% endblock %}

{% block content %}
    <!--左侧wiki目录栏-->
    <div class="col-md-3 lside">
        <div class="panel panel-default" style="margin-top: 20px;width: 100%;">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="{{ wiki_name.get_absolute_url }}" >{{ wiki_name.name }}</a></h3>
            </div>
            <div class="panel-body">
                <ul class="wiki_list">
                    {% for wiki in wikis %}
                        <li>
                            <a href="{{ wiki.get_absolute_url }}">
                                {{ wiki.chapter }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include "userinfo.html" %}
        <!--<div class="panel panel-default" style="width: 85%;height: 85%;">
            <div class="panel-heading">最新评论</div>
                <div class="panel-body ">
                    <ul id="wiki_comments">

                    </ul>

                </div>
        </div>-->


    </div>
    <!--右侧wiki章节内容栏-->
    <div class="col-md-9 rside">
        <h3>{{ wiki_name.name }}</h3>

        <div class="panel panel-default">
            <div class="panel-body">
                {% if wiki_con %}
                    <h4>{{ wiki_con.chapter|chapterindent }}</h4>
                    <p class="text-muted" style="margin: 5px 0px 5px 5px;">
                        {{ wiki_con.counts }}次阅读&nbsp;&nbsp;&nbsp;{{ wiki_con.add_date|date:"Y/m/d H:i" }}
                    </p>
                    <hr style="margin-bottom: 2px;"/>
                    <p>{{ wiki_con.content|custom_markdown|safe }}</p>
                {% else %}
                    <p style="margin-bottom: 50%;">
                        这是一个{{ wiki_name.name }}，由笔者根据自己学习及参考网上技术博客的前提下，撰写完成。<br/>
                        由于，本人水平有限，出现疏漏和错误难免,欢迎多多反馈哈！！！
                    </p>
                {% endif %}
            </div>
        </div>
        <hr/>
        <p style="margin-bottom: 60px;">
            {% if pg.pre %}
                <a href="/wiki/{{ pg.pre }}/" class="label label-info pull-left" style="width: 180px;height: 25px; line-height: 22px;font-size: 15px;">
                    上一篇:
                    {{ pre_chapter|chapterindent }}
                </a>
            {% endif %}
            {% if pg.nt %}
                <a href="/wiki/{{ pg.nt }}/" class="label label-info pull-right" style="width: auto;height: 25px; line-height: 22px;font-size: 15px;">
                    下一篇:
                    {{ nt_chapter|chapterindent }}
                </a>
            {% endif %}

        </p>
        <hr/>
        {% if wiki_con %}
         <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="{{ wiki_con.id }}" data-title="{{ wiki_con.chapter }}"
             data-url="{{ wiki_con.get_absolute_url }}" ></div>
        <!-- 多说评论框 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
            var duoshuoQuery = {short_name:"shanyuze1029"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                 || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- 多说公共JS代码 end -->
        {% endif %}

    </div>
{% endblock %}
{% block js %}
    <script>
        $(function(){
            var path = (window.location.pathname).toLowerCase();//将获得的路径字符串全部转换为小写
            //这些面实现章节标题，的一级和二级层次排版
            $('.wiki_list a').each(function(){
                var t=$(this).html();
                if (/##/.test(t)){
                    $(this).html('&nbsp;&nbsp;&nbsp;'+ t.replace('##',''));
                }else if(/#/.test(t)){
                    $(this).html(t.replace('#',''));
                }
                //下面实现点击a标签在当前页面刷新后，变成红色，一般方法不行，因为刷新后，就会恢复初始颜色
                var hf=$(this).attr('href').trim();
                if (path==hf){
                    this.style.color='rgb(209,72,54)';
                }

            });

            //下面通过ajax get当前页最新的5条评论
{#            {% if wiki_con %}#}
{#            $.get("http://api.duoshuo.com/threads/listPosts.jsonp?order=asc&thread_key="+"{{ wiki_con.id }}"+"&short_name=shanyuze1029&page=1&limit=5",function(data,status){#}
{#                alert("Data: " + data );#}
{#              });#}
                /*var settings = {
                    type: "GET",
                    url:"http://api.duoshuo.com/threads/listPosts.jsonp?order=desc&thread_key="+"{{ wiki_con.id }}"+"&short_name=shanyuze1029&page=1&limit=5",
                    dataType:"jsonp",
                    error: function(XHR,textStatus,errorThrown) {
                        alert ("XHR="+XHR+"\ntextStatus="+textStatus+"\nerrorThrown=" + errorThrown);
                    },
                    success: function(data,textStatus) {
                        for(var i=0;i<data.response.length;i++){
                            $('#wiki_comments').append('<li>'+'<span class="text-muted" style="color:#0088cc;">'+data.parentPosts[data.response[i]].author.name+'</span>'+data.parentPosts[data.response[i]].created_at+'<br/>'+'评论了'+data.parentPosts[data.response[i]].message+'</li>');

                        }
                    }
                    /*headers: {
                        "Access-Control-Allow-Origin":"*",
                        "Access-Control-Allow-Headers":"X-Requested-With"
                    }*/
{#                };#}
{#                $.ajax(settings);#}
{#            {% endif %}#}





        });
    </script>
{% endblock %}