{% extends "base.html" %}

{% block css %}
    <style>
        .form-panel{
            width: 90%;
            margin: 20px 0px 0px 10%;
            padding: 1% 0 0 0;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="panel panel-default form-panel">
        <div class="panel-body">
            <form action="{{ request.path }}" method="post">
                {% csrf_token %}
                <input type="text" class="form-control" placeholder="{{ error|default:"请输入密码..." }}" name="pwd"/>
                <p style="margin-top: 10px;"><input type="submit" class="btn btn-primary" value="Confirm identification"/></p>
            </form>
        </div>
    </div>
{% endblock %}