<footer class="foot-above">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 ">

                <p style="color: #ffffff;font-size: 13px;font-family: Helvetica, Arial, sans-serif;">联系方式</p>
                <ul style="color: #ffffff;">
                    <li><a href="http://weibo.com/yuzeshan" class="lk" target="_blank">新浪微博</a></li>
                    <li><a href="" title="ID=yuzeshan123" class="lk">微信</a></li>
                    <li><a href="https://github.com/yuzeshan" class="lk" target="_blank">Github</a></li>
                </ul>

            </div>
            <div class="col-lg-4">
                <p style="color: #ffffff;font-size: 13px;font-family: Helvetica, Arial, sans-serif;">站点导航</p>
                <ul style="color: #ffffff;">
                    <li><a href="#" class="lk">另一个站点</a></li>
                    <li><a href="#" class="lk">吾之喜爱</a></li>
                    <li><a href="#" class="lk">About</a></li>
                </ul>

            </div>
            <div class="col-lg-4">
               <h4><a href="/pigeonhole/">博客归档</a></h4>
            </div>
        </div>
    </div>
</footer>
<div class="foot-below">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p style="color:gray;">
                   <a href="https://docs.djangoproject.com/en/1.6/" target="_blank">Made by Django</a>
                   |Shanyuze
                </p>
            </div>

            <div class="col-lg-6" style="padding-left: 38%;">
                <p><a href="/login/">登 录</a> <i class="fa fa-sun-o fa-lg" style="color: greenyellow;"></i> <a href="#">撰写Wiki</a></p>
            </div>
        </div>
    </div>
</div>