<footer class="foot-above">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-3">
                        <div style="text-align:center;">
                            <a target="_blank" href="http://webdesignerwall.com/tutorials/responsive-design-with-css3-media-queries">
                                <img width="100%" height="140px" src="{{ STATIC_URL }}img/platform.png">
                            </a>
                        </div>
                    </div>
                    <div id="foot-powered-by" class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <span style="font-size: 20px;font-weight: bold;">Powered by:</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="http://getbootstrap.com/" target="_blank">
                                    <img width="130px" height="30px" src="{{ STATIC_URL }}img/foot-logo-bootstrap.png">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="http://jquery.com/" target="_blank">
                                    <img width="120px" height="30px" src="{{ STATIC_URL }}img/foot-logo-jquery.png">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="http://www.mysql.com/" target="_blank">
                                    <img width="120px" height="37px" src="{{ STATIC_URL }}img/foot-logo-mysql.png">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="https://www.python.org/" target="_blank">
                                    <img width="120px" height="30px" src="{{ STATIC_URL }}img/foot-logo-python.png">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://www.djangoproject.com/" target="_blank"> Django </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-lg-3">
               <h4><a href="/pigeonhole/">博客归档</a></h4>
            </div>
        </div>
    </div>
</footer>
<div class="foot-below">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" style="text-align: left;">
                <p style="color:gray;">
                   <a href="https://docs.djangoproject.com/en/1.6/" target="_blank">Made by Django</a>
                   |Shanyuze&copy;2014-2015
                </p>
            </div>
            <div class="col-lg-4" style="text-align: center;">
{#                <span>Link:</span>#}
                <ul>
                    <li>
                        <a href="https://github.com/yuzeshan" target="_blank"><i class="fa fa-github fa-lg"></i></a>
                    </li>
                    <li>
                        <a href="http://weibo.com/yuzeshan" target="_blank"><i class="fa fa-weibo fa-lg"></i></a>
                    </li>
                    <li>
                        <a href="#" name="yuzeshan123"><i class="fa fa-wechat fa-lg" title="wechatID=yuzeshan123"></i></a>
                    </li>
                </ul>

            </div>

            <div class="col-lg-4" style="text-align: right;">
                <p><a href="/login/">登 录</a> <i class="fa fa-sun-o fa-lg" style="color: greenyellow;"></i> <a href="#">撰写Wiki</a></p>
            </div>
        </div>
    </div>
</div>